.search-page {
  text-align: center;
  margin-top: 50px;
}

.search-page h1 {
  font-size: 2rem;
  color: #FF9800;
}

.search-input {
  padding: 10px;
  font-size: 1rem;
  margin: 20px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-btn {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  background-color: #FF9800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #F57C00;
}

.checkbox-container {
  margin-left: 450px;
  margin-right: 450px;
  display: flex;
  flex-wrap: wrap; /* Allows wrapping when there are too many items */
  gap: 15px; /* Space between the checkboxes */
  justify-content: center;
}

.checkbox-container label {
  display: flex;
  align-items: center;
}